<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
=======
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
>>>>>>> 7b1fdeee0c9e2d2c0e8a8a7af44512a3b13aeb49
}